/*\шрифты*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype'),
         url('../fonts/Roboto-Thin.woff') format('woff'),
         url('../fonts/Roboto-Thin.woff2') format('woff2'),
         url('../fonts/Roboto-Thin.otf') format('opentype'),
         url('../fonts/Roboto-Thin.eot') format('embedded-opentype'),
         url('../fonts/Roboto-Thin.svg') format('svg');
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.otf') format('opentype'),
        url('../fonts/Roboto-Light.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Light.svg') format('svg');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.otf') format('opentype'),
        url('../fonts/Roboto-Regular.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.otf') format('opentype'),
        url('../fonts/Roboto-Medium.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.svg') format('svg');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.otf') format('opentype'),
        url('../fonts/Roboto-Bold.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.svg') format('svg');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.otf') format('opentype'),
        url('../fonts/Roboto-Black.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Black.svg') format('svg');
    font-weight: 900;
}
/*\шрифты*/

/**
.block01 {
    background: url(../img/top_bg.jpg) no-repeat top center / cover;    
    height: 100vh;
}
*/
/*
для скошенного фона
.block01 {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.block01:after {
    content: '';
    position: absolute;
    width: 120%;
    height: 250px;
    transform: rotate(-6deg);
    background: #fff;
    bottom: -80px;
    left: 0;
}

или

.block01:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-top: 13vh solid transparent;
    border-right: 200vh solid #fff;
    border-bottom: 0px solid #fff;
    position: absolute;
    bottom: 0vh;
}
    */
/*\общие стили*/
body {
    font-family: 'Roboto', sans-serif;
    color: #242424;
}

/*все абзацы*/
p {
    font-weight: 100;
    font-size: 0.7rem;
    color: #242424;
    line-height: 1.2;
}
a {
    text-decoration: none;
}
html {
    /*font-size: 1.042vw;*/
    font-size: 1.297vw;
}
/*\общие стили*/


/*\экран 1*/
.container-top {
    background: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: bottom;*/
    padding-top: 2.7rem;
    padding-bottom: 18.15rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 4.1rem;
}

.block-top {
    width: 51.5rem;
    margin: auto;
}

.navigation {
    margin: 0 0 8.25rem 0;
    display: flex;
    align-items: center;
    /* flex-grow: 1; */
}
.nav__logo{
}
.nav__menu {
    margin-left: 7rem;
}
.nav__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    /*margin-left: 0px;*/
    font-size: 0.75rem;
    font-weight: 100;
    vertical-align: middle;
    border: 1px solid transparent;
}
.nav__link:hover {
    color: #90d23d;
    /* border-bottom: 1px solid #90d23d; */
}
.menu{
    list-style: none;
    display: flex;

}
.menu__city{
    margin: 0 0 0 1rem;
    text-align: right;
}
.menu__city-p{
    color: white;
    font-size: 0.75rem;
}
.menu__item {
    /* display: inline-block; */
    margin: 0 0 0 0.905rem;
    min-height: fit-content;
}
/* .menu__item:hover {  
    padding-top: 1px;
} */
.menu li:first-child {
    margin: 0;
}
.title {
    /*padding-bottom: 363px;*/
}
.title__title {
    color: white;
    text-align: center;
    color: white;
    letter-spacing: 0.01em;
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 0.6rem;
}
.title__subtitle {
    color: white;
    text-align: center;
    color: white;
    letter-spacing: 0.01em;
    font-size: 2.5rem;
}
.container-top::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-top: 8vw solid transparent;
    border-right: 98.9vw solid #fff;
    border-bottom: 0px solid #fff;
    position: absolute;
    bottom: 0vh;
}
.finded_cities_li{
    margin: .5rem 0;
}
.finded_cities_li:hover{
    cursor: pointer;
    color: #90d23d;
}
/* в макете пока нет
.menu_nav_li_city {
    display: inline;
    margin: 0 0 0 100px;
}
*/
/*\экран 1*/


/*\welcome*/
.some-relative-block1 {
    position: relative;
    /*width: 51.5rem;*/
    margin: auto;
    margin-bottom: 4.1rem;
    /*height: 10px;*/
    /*background: #6c6c6c;*/
}
.welcome {
   width: 25.85rem;
   background: #ffffff;
   padding: 1.7rem 4.25rem 2.2rem 1.6rem;
   box-shadow: 0rem 0.05rem 0.1rem 0rem rgba(35, 31, 32, 0.65);
   position: absolute;
   top: -10.55rem;
   right: 0rem;
   z-index: 1;
}
.welcome__header {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1.7rem;
}
.welcome__text {
    margin: 0 0 0.95rem 0;
}
.welcome__text-bottom {
    margin: 0 0 0 0;
}
/*\welcome*/



/*\why we*/
.container-why-we {
    margin-bottom: 6.35rem;
}

.why-we {
    width: 51.5rem;
    position: relative;
    margin: auto;
}
.why-we__title {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 6.2rem;
    text-align: left;
}
.why-we__main-part{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
}
.why-we__main-part .why-we__row:last-child {
    margin-bottom: 0;
}


.why-we__row {
    margin-bottom: 2rem;
    /* display: flex; */
}

.why-we__col {
    /* float: left; */
    /* width: 33.33%; */
    text-align: center;
    /*margin-bottom: 2rem;*/
}
/**.why-we__col-bottom {
    margin-bottom: 0;
}*/
.why-we__image-container {
    height: 10.55rem;
    margin-bottom: 2.2rem;
}
.why-we__image-container1 {
    padding-right: 1.95rem;
    padding-top: 0.1rem;
}
.why-we__image-container2 {
    padding-left: 1.7rem;
}
.why-we__image-container3 {
    padding-left: 2.2rem;
    /*padding-top: 1.45rem;*/
}
.why-we__image {
    display: inline-block;
    height: 100%;
}
.why-we__image:hover {
    transform: scale(1.07);
    transition: 0.2s;
}
/**.why-we__image1 {
    margin-right: 1.95rem;
    margin-top: 0.1rem;
}*/
/**.why-we__image2 {
    margin-left: 1.7rem;
}*/
.why-we__image3 {
    height: 85%;
    padding-top: 1.6rem;
}
.why-we__text1 {
    margin-right: 1.95rem;
}
.why-we__text2 {
}
.why-we__text3 {
    margin-left: 2.2rem;
}
.why-we__subtitle {
    font-size: 1.75rem;
    font-weight: 900;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
}
/*\why we*/





/*\movie list*/
/* Таблица Выберите фильм. Релиз 2.4 */
.container-movie-list {
    margin-bottom: 7.5rem;
}
.movie-list {
    width: 51.5rem;
    margin: auto;
}
.movie-list__header { /*"выберите фильм"*/
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
    margin: 0 0 4.1rem 0;
    text-align: center;
}
.movie-list__table { /*стили таблицы*/
    width: 100%;
    border-collapse: collapse;
    border: #fff;
    border-radius: 0.75rem;
    overflow: hidden; /*чтобы работало скругление*/
    font-size: 1.12rem;
    font-weight: 400;
    color: #fff;
}
.movie-list__table-h {
    font-size: 1.3rem; /*в макете 30px, но это многовато..*/
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
    height: 3.8rem;
    
}
/* в имени класса h - заголовок таблицы, b - тело*/
/* столбец начало сеанса */
.movie-list__table-time-h {
    text-align: center;
    width: 8.5rem; /*в макете 230px, но там время шире. Предлагаю сократить, 200px - норм*/
    vertical-align: middle;
}
.movie-list__table-time-b {
    text-align: center;
    vertical-align: top;
    padding-top: 0.5rem;
}

/*столбец фильм*/
.movie-list__table-film-h {
    text-align: left;
    width: 18.5rem;
    vertical-align: middle;
    padding-left: 3rem;
}
.movie-list__table-film-b {
    text-align: left;
    vertical-align: top;/*по-другому пока не знаю как сделать*/
    padding-left: 3rem;
    padding-top: 0.5rem;
}
/*столбец жанр*/
.movie-list__table-genre-h {
    text-align: left;
    width: 15rem;
    vertical-align: middle;
}
.movie-list__table-genre-b {
    text-align: left;
    vertical-align: top;
    padding-top: 0.5rem;
    /*padding-top: 10px;*/
}
.movie-list__table-price-h {
    text-align: center;
    width: 4rem;
    vertical-align: middle;
}
.movie-list__table-price-b {
    text-align: center;
    vertical-align: top;
    padding-top: 0.5rem;
    /*padding-top: 10px;*/
}
/*столбец с плюсиками.
Выравнивать все плюсики до макета не стал,
потому что там они все разные, 
пришлось бы каждому прописывать стиль*/
.movie-list__table-plus {
    width: 6.5rem;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.35rem;
    padding-right: 0.25rem;
}
.movie-list__plus-btn:hover path{
    fill: green;
}
/*тёмные строки*/
.movie-list__table-dark {
    background: #373737;
    /*padding: 19px 0;*/
    height: 3.725rem;
    border: #fff;
    /*text-align: center;*/
}
/*светлые строки*/
.movie-list__table-light {
    background: #4b4d4f;
    /*padding: 19px 0;*/
    height: 3.725rem;
    border: #fff;
    /*text-align: center;*/
}
/*каждая третья - светлее*/
/* tbody tr:last-child {
    background:#6c6c6c;
} */
/*оформление ссылок в таблице*/
.movie-list__table a {
    text-decoration: none;
    color: #fff;
}
/*абзац под таблицей*/
.movie-list__footer {
    text-align: center;
    margin: 1.95rem 0 0 0;
    letter-spacing: 0.013ex;
}
/* \triangles */
a div {
    display: inline-block;
}
.triangle-div-time {
    vertical-align: top;
    margin: 0.7rem 0 0 0.4rem;
}
.triangle-div-name {
    vertical-align: top;
    margin: 0.05rem 0 0 0.4rem;
}
.triangle-down {
    display: inline-block;
    width: 0rem;
    height: 0;
    border-style: solid;
    border-width: 0.5rem 0.375rem 0 0.375rem;
    border-color: #ffffff transparent transparent transparent;
    margin: 0.05rem 0 0 0.4rem;
}
.triangle-up {
    display: inline-block;
    width: 0rem;
    height: 0;
    border-style: solid;
    border-width: 0 0.375rem 0.5rem 0.375rem;
    border-color: transparent transparent #ffffff transparent;
    vertical-align: top;
    margin: 1.15rem 0 0 0.4rem;
}
/* \triangles */
/*\movie list end*/



/*\gift begin*/
.some-relative-block2 {
    position: relative;
    /*width: 51.5rem;*/
    margin: auto;
}
.gift-image {
    position: absolute;
    top: -3.25rem;
    bottom: 0;
    right: 0;
    left: 0.15rem;
    border-radius: 100%;
    background-color: rgb(251, 175, 22);
    box-shadow: 0.525rem 0.909rem 0.6rem 0rem rgba(35, 31, 32, 0.55);
    overflow: hidden;
    width: 16.4rem;
    height: 16.4rem;
    z-index: 10;
}


/*секция подарок каждому*/
.gift {
    background: url(/images/background-gift.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:3.65rem;
    position: relative;
    overflow: hidden;
}
.gift__container {
    width: 51.5rem;
    position: relative;
    margin: auto;
    text-align: right;
    color: white;
}
.gift::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-top: 8vw solid transparent;
    border-right: 98.9vw solid #fff;
    border-bottom: 0px solid #fff;
    position: absolute;
    bottom: 0vh;
}
.gift__text {
    padding-left: 16.4rem;
    padding-top: 7.2rem;
    padding-bottom: 9.35rem;
}

.gift__title {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    margin-bottom: 2.95rem;
    margin-right: -0.25rem;
}
.gift__paragraph {
    color: white;
    margin-bottom: 1.05rem;
}
.gift__paragraph-last {
    margin-bottom: 1.8rem;
}
.gift__btn {
    background: green;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    border-radius: 0.75rem;
    background-color: rgb(144, 210, 61);
    padding: 0.9rem 1.65rem;
    border: 0rem;
    margin-right: -0.2rem;
}
/*\gift end*/




/*\карточки фильмов*/
.container-films {
    margin-bottom: 4rem;
}
.films {
    width: 51.5rem;
    margin: auto;
    padding-left: 1.5rem;
}
.films__top-text{
    padding: 0 16.5rem 0 0.75rem;
}
.films__title {
    font-size: 2.5rem;
    color: rgb(37, 37, 37);
    font-weight: 700;
    margin-bottom: 2rem;
}
.films__paragraph {
    margin-bottom: 3rem;
    letter-spacing: 0.01em;
}

.movie-grid__flex {
    display: flex;
    margin: 0 -0.75rem;
    padding-left: 0.75rem;
}
.movie-grid__item {
    padding: 1.045rem;
}
.movie-grid__inner1 {
    position: relative;
    overflow: hidden;
    border-radius: 0.55rem;
}
.movie-grid__image{
    display: inline-block;
    max-width: 100%;
}
.movie-grid__description {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
    background: rgba(144,210,61,.8);
    /*border-radius: 11px;*/
    padding: 1.15rem;
    display: flex;
    flex-direction: column;
    transition: .2s;
}
.movie-grid__inner1:hover .movie-grid__description {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.movie-grid__text1{
    font-size: 1.75rem;
    font-weight: 900;
    color: #ffffff;
    margin: 0 0 0.5rem;
}
.movie-grid__hr {
    width: 4.05rem;
    height: 0.35rem;
    border: 0;
    box-shadow: none;
    margin: 0 0 0.7rem -0.1rem;
    background: #fff;
}
.movie-grid__text2
{
    font-size: 0.9rem;
    font-weight: 400;
    color: #ffffff;
    flex: 1;
}
.movie-grid__links {
    padding: 0 0 0 0.2rem;
    margin-bottom: -0.3rem;
}
.movie-grid__svg
{
    fill:#fff;
    transition: .2s;
}
.movie-grid__svg:hover{
    fill:green;
}
/*\карточки фильмов*/




/*\карта*/
.container-map {
    margin-bottom: 5rem;
    /* width: 51.5rem; */
}
.viewDiv_map {
    height: 50vh;
    min-height: 200px;
    background-color: gray;
}
/*\карта*/

/*\footer*/
.contacts {
    background: #90d23d;
    
    text-align: center;
    padding-bottom: 1.85rem;
}
.contacts__links {
    /*width: 51.5rem;*/
    margin: auto;
    padding-top: 3rem;
    margin-bottom: 1.3rem;
}
.social-network {
    display: inline-block;
    padding: 0 0.18rem;
}
.contacts__fin {
    /*width: 51.5rem;*/
    margin: auto;
}
.fin__text {
    color: white;
    font-size: 0.9rem;
}

.social-network__path {
    fill: white;
    transition: .2s;
}
.social-network__path:hover {
    fill: green;
    filter: url(#social-network__filter_without-ten);
}

/*\footer*/




/*\форма*/
.container-forms {
    margin-bottom: 5rem;

}
.form {
    width: 51.5rem;
    margin: auto;
}

.form > div {
    margin-bottom: 1.5rem;
}

.text-area {
    width: 15rem;
    height: 5rem;
    text-align: left;
}
.form__agree-label{
    margin-left:0.5rem;
}
.form__btn {
    background: green;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    border-radius: 0.75rem;
    background-color: rgb(144, 210, 61);
    padding: 0.9rem 1.65rem;
    border: 0rem;
    margin-right: -0.2rem;
}
/*\форма*/


#modalPresent {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}
#modalPresent .form2 {
    width: 25rem;
    background-color: white;
    margin: auto;
    padding: 2rem;
    margin-top: 5rem;
    opacity: 1;
    position: relative;
}
.form2 div {
    margin-bottom: 2rem;
}
#closeModal{
    position: absolute;
    right: 1rem;
    top: 1rem;
}




#orderForm {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}
#orderForm .form2 {
    width: 25rem;
    background-color: white;
    margin: auto;
    padding: 2rem;
    margin-top: 5rem;
    opacity: 1;
    position: relative;
}

#closeOrderForm{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
/* tr:hover td {
    color: green;
} */









#chooseFilmForm_container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}
#chooseFilmForm_container .form3 {
    width: 30rem;
    background-color: white;
    margin: auto;
    padding: 2rem;
    margin: auto;
    margin-top: 1rem;
    opacity: 1;
    position: relative;
}

#closeFilmForm{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: rgba(200, 200, 200, 0);
    border: 0px;
}
.chooseFilmForm__infoImage{
    text-align: center;
}
.chooseFilmForm__name{
    margin: 10px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}
.chooseFilmForm__inputs {
    margin: 10px 0;
    width: 60%;
    border-radius: 2%;
}
.chooseFilmForm__input-name{
    width: 100%;
}
.chooseFilmForm__input-phone{
    width: 100%;
}
.places{
    /* display: grid; */
    width: 80%;
    /* grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(1.5rem, 1fr));
    grid-gap: 1vw; */
}
.placeRow{
    display: flex;
    justify-content: center;
}
.place{
    text-align: center;
    line-height: 30px;
    background: gray;
    margin: 0.15rem;
    width: 5rem;
    /* height: 30px; */
    border: 1px solid black;
    border-radius: 20%;
    box-sizing: border-box;
    overflow: hidden;
}
.place:before{
    content: "";
    padding-top: 100%;
    float: left; 
}


.place:hover{
    /* background: #4b4d4f; */
    cursor: pointer;
}
.place_free{
    background: #a3cc40;
}
.place_taken{
    background: #ffa500;
}
.place_chosen{
    background: #ffa500;
    border: 1px solid firebrick;
}
/* tr:hover td {
    color: green;
} */