/*\шрифты*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype'),
         url('../fonts/Roboto-Thin.woff') format('woff'),
         url('../fonts/Roboto-Thin.woff2') format('woff2'),
         url('../fonts/Roboto-Thin.otf') format('opentype'),
         url('../fonts/Roboto-Thin.eot') format('embedded-opentype'),
         url('../fonts/Roboto-Thin.svg') format('svg');
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf') format('truetype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.otf') format('opentype'),
        url('../fonts/Roboto-Light.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Light.svg') format('svg');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.otf') format('opentype'),
        url('../fonts/Roboto-Regular.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.otf') format('opentype'),
        url('../fonts/Roboto-Medium.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.svg') format('svg');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.otf') format('opentype'),
        url('../fonts/Roboto-Bold.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.svg') format('svg');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf') format('truetype'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.otf') format('opentype'),
        url('../fonts/Roboto-Black.eot') format('embedded-opentype'),
        url('../fonts/Roboto-Black.svg') format('svg');
    font-weight: 900;
}
/*\шрифты*/

/**
.block01 {
    background: url(../img/top_bg.jpg) no-repeat top center / cover;    
    height: 100vh;
}
*/
/*
для скошенного фона
.block01 {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.block01:after {
    content: '';
    position: absolute;
    width: 120%;
    height: 250px;
    transform: rotate(-6deg);
    background: #fff;
    bottom: -80px;
    left: 0;
}

или

.block01:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-top: 13vh solid transparent;
    border-right: 200vh solid #fff;
    border-bottom: 0px solid #fff;
    position: absolute;
    bottom: 0vh;
}
    */
/*\общие стили*/
body {
    font-family: 'Roboto', sans-serif;
    color: #242424;
}

/*все абзацы*/
p {
    font-weight: 100;
    font-size: 14px;
    color: #242424;
    line-height: 1.2;
}
/*\общие стили*/


/*\экран 1*/
.container-top {
    background: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding-top: 54px;
}
.block-top {
    width: 1030px;
    margin: auto;
}
.nav {
    margin: 0 0 165px 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.nav__logo{
    /*display: inline-block;*/
}
.nav__menu {
    /*display: inline-block;*/
    margin-left: 261px;
}
.nav__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    /*margin-left: 0px;*/
    font-size: 15px;
    font-weight: 100;
    vertical-align: middle;
}
.nav__link:hover {
    color: #90d23d;
}
.menu{
    list-style: none;
}
.menu__item {
    display: inline;
    margin: 0 0 0 38.1px;
}
.menu li:first-child {
    margin: 0;
}
.title {
    padding-bottom: 363px;
}
.title__title {
    color: white;
    text-align: center;
    color: white;
    letter-spacing: 0.01em;
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 12px;
}
.title__subtitle {
    color: white;
    text-align: center;
    color: white;
    letter-spacing: 0.01em;
    font-size: 50px;
}

/* в макете пока нет
.menu_nav_li_city {
    display: inline;
    margin: 0 0 0 100px;
}
*/
/*\экран 1*/


/*\welcome*/
.some-relative-block1 {
    position: relative;
    width: 1030px;
    margin: auto;
    margin-bottom: 79px;
    /*height: 10px;*/
    /*background: #6c6c6c;*/
}
.welcome {
   width: 515px;
   background: #ffffff;
   padding-bottom: 25px;
   box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
   position: absolute;
   top: -129px;
   right: 0px;
   z-index: 1;
}
.welcome__header {
    font-size: 40px;
    font-weight: 900;
    margin: 34px 0 32px 32px;
}
.welcome__text {
    margin: 0 85px 17px 32px;
}
/*\welcome*/



/*\why we*/
.container-why-we {
}

.why-we {
    width: 1030px;
    margin: auto;
}
.why-we__title {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 124px;
    text-align: left;
}
.why-we__main-part {
}
.why-we__col {
    float: left;
    width: 33.33%;
    text-align: center;
    margin-bottom: 125px;
}
.why-we__image {
    height: 211px;
    margin-bottom: 40px;
}
.why-we__image1 {
    margin-right: 39px;
    margin-top: 2px;
}
.why-we__image2 {
    margin-left: 34px;
}
.why-we__image3 {
    margin-left: 44px;
    margin-top: 29px;
}
.why-we__text1 {
    margin-right: 39px;
}
.why-we__text2 {
}
.why-we__text3 {
    margin-left: 44px;
}
.why-we__subtitle {
    font-size: 35px;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}
/*\why we*/







/*\movie list*/
/* Таблица Выберите фильм. Релиз 2.4 */
.container-movie-list {
    margin-bottom: 150px;
}
.movie-list {
    width: 1030px;
    margin: auto;
}
.movie-list__header { /*"выберите фильм"*/
    font-size: 50px;
    color: black;
    font-weight: 700;
    margin: 0 0 82px 0;
    text-align: center;
}
.movie-list__table { /*стили таблицы*/
    width: 100%;
    border-collapse: collapse;
    border: #fff;
    border-radius: 15px;
    overflow: hidden; /*чтобы работало скругление*/
    font-size: 22.4px;
    font-weight: 400;
    color: #fff;
}
.movie-list__table-h {
    font-size: 26px; /*в макете 30px, но это многовато..*/
    font-weight: 700;
    color: #fff;
    background: #a3cc40;
    height: 76px;
    
}
/* в имени класса h - заголовок таблицы, b - тело*/
/* столбец начало сеанса */
.movie-list__table-time-h {
    text-align: center;
    width: 230px; /*в макете 230px, но там время шире. Предлагаю сократить, 200px - норм*/
    vertical-align: middle;
}
.movie-list__table-time-b {
    text-align: center;
    vertical-align: top;
}

/*столбец фильм*/
.movie-list__table-film-h {
    text-align: left;
    width: 370px;
    vertical-align: middle;
    padding-left: 60px;
}
.movie-list__table-film-b {
    text-align: left;
    vertical-align: top;/*по-другому пока не знаю как сделать*/
    padding-left: 60px;
}
/*столбец жанр*/
.movie-list__table-genre-h {
    text-align: left;
    width: 300px;
    vertical-align: middle;
}
.movie-list__table-genre-b {
    text-align: left;
    vertical-align: top;
    /*padding-top: 10px;*/
}

/*столбец с плюсиками.
Выравнивать все плюсики до макета не стал,
потому что там они все разные, 
пришлось бы каждому прописывать стиль*/
.movie-list__table-plus {
    width: 130px;
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
    padding-right: 5px;
}
/*тёмные строки*/
.movie-list__table-dark {
    background: #373737;
    /*padding: 19px 0;*/
    height: 74.5px;
    border: #fff;
    /*text-align: center;*/
}
/*светлые строки*/
.movie-list__table-light {
    background: #4b4d4f;
    /*padding: 19px 0;*/
    height: 74.5px;
    border: #fff;
    /*text-align: center;*/
}
/*каждая третья - светлее*/
tbody tr:last-child {
    background:#6c6c6c;
}
/*оформление ссылок в таблице*/
.movie-list__table a {
    text-decoration: none;
    color: #fff;
}
/*абзац под таблицей*/
.movie-list__footer {
    text-align: center;
    margin: 39px 0 0 0;
    letter-spacing: 0.013ex;
}
/* \triangles */
a div {
    display: inline-block;
}
.triangle-div-time {
    vertical-align: top;
    margin: 14px 0 0 8px;
}
.triangle-div-name {
    vertical-align: top;
    margin: 1px 0 0 8px;
}
.triangle-down {
    display: inline-block;
    width: 0px;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #ffffff transparent transparent transparent;
    margin: 1px 0 0 8px;
}
.triangle-up {
    display: inline-block;
    width: 0px;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #ffffff transparent;
    vertical-align: top;
    margin: 23px 0 0 8px;
}
/* \triangles */
/*\movie list end*/



/*\gift begin*/
.some-relative-block2 {
    position: relative;
    width: 1030px;
    margin: auto;
}
.gift-image {
    position: absolute;
    top: -65px;
    bottom: 0;
    right: 0;
    left: 3px;
    border-radius: 100%;
    overflow: hidden;
    width: 328px;
    height: 328px;
}


/*секция подарок каждому*/
.gift {
    background: url(/images/background-gift.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom:73px;
}
.gift__text {
    width: 1030px;
    margin: auto;
    text-align: right;
    color: white;
}
.gift__title {
    padding-top: 142px;
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin-bottom: 57px;
    margin-right: -5px;
}
.gift__paragraph {
    color: white;
    padding-left: 328px;
    margin-bottom: 17px;
}
.gift__paragraph-last {
    margin-bottom: 36px;
}
.gift__btn {
    background: green;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    border-radius: 15px;
    background-color: rgb(144, 210, 61);
    padding: 18px 33px;
    border: 0px; 
    margin-bottom: 187px;   
}
/*\gift end*/




/*\карточки фильмов*/
.container-films {
    margin-bottom: 90px;
}
.films {
    width: 1030px;
    margin: auto;
    padding-left: 30px;
}
.films__title {
    font-size: 50px;
    color: rgb(37, 37, 37);
    font-weight: 700;
    margin-bottom: 40px;
    padding: 0 330px 0 15px;
}
.films__paragraph {
    margin-bottom: 60px;
    padding: 0 330px 0 15px;
    letter-spacing: 0.01em;
}

.movie-grid__flex {
    display: flex;
    margin: 0 -15px;
    padding-left: 15px;
}
.movie-grid__item {
    padding: 18.9px;
}
.movie-grid__inner1 {
    position: relative;
    overflow: hidden;
}
.movie-grid__description {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
    background: rgba(144,210,61,.8);
    border-radius: 11px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    transition: .2s;
}
.movie-grid__inner1:hover .movie-grid__description {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.movie-grid__text1{
    font-size: 35px;
    font-weight: 900;
    color: #ffffff;
    margin: 0 0 10px;
}
.movie-grid__hr {
    width: 80px;
    height: 8px;
    border: 0;
    box-shadow: none;
    margin: 0 0 14px;
    background: #fff;
}
.movie-grid__text2
{
    font-size: 18px;
    color: #ffffff;
    flex: 1;
}
.movie-grid__svg
{
    fill:#fff;
    transition: .2s;
}
.movie-grid__svg:hover{
    fill:green;
}
/*\карточки фильмов*/




/*\карта*/
.container-map {

}
.map {
    padding: 225px 0;
    background: url(/images/map.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.contacts {
    background: #90d23d;
    margin-bottom: 100px;
    text-align: center;
    padding-bottom: 37px;
}
.contacts__links {
    width: 1030px;
    margin: auto;
    padding-top: 60px;
    margin-bottom: 26px;
}
.contacts__fin {
    width: 1030px;
    margin: auto;
}
.fin__text {
    color: white;
    font-size: 18px;
}

.social-network {
    fill: white;
    transition: .2s;
}
.social-network:hover {
    fill: green;
}
/*\карта*/




/*\форма*/
.container-forms {

}
.form {
    width: 1030px;
    margin: auto;
}

.form > div {
    margin-bottom: 30px;
}

.text-area {
    width: 300px;
    height: 100px;
    text-align: left;
}
/*\форма*/


